body {
	transition: all 0.2s ease;
	background-color: #2C2F33;
	color: white;
	font-family: "Roboto";
	cursor: progress;
}

#help {
	font-family: "Lato";
}

::selection {
    background-color: rgb(147, 184, 231, 0.5);
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: rgb(147, 184, 231, 0.5);
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: rgb(147, 184, 231, 0.5);
    color: #fff;
}

::-ms-selection {
    background-color: rgb(147, 184, 231, 0.5);
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: rgba(147, 183, 231, 0.5);
    color: #fff;
}

#NoResults {
	display:none;
}

h1 {
	font:bold;
	font-size:175%;
}

table {
	margin-left: 250px;
	width:100%;

	/* The original background color of the table, directly below, is the new background color. Uncomment what's below and follow the next comment to revert.*/
	/* background-color: #7db6fe; */

	color: white;
	align-tracks: center;

	/* This is the border. It looks more sleek and modern without a border. If you want to revert, uncomment the line below, and comment out or delete the border: none; line */
	/* border: 1px solid black */

	border: none;

}

h1, #listheader {
	font-family: "Work Sans";
}

#NoResults {
	margin-left: 300px;
	margin-top: 3%;
	width:100%;

	color: white;
	align-tracks: center;

	border: none;
	font-size: larger;
}
table a {
    text-decoration: none;
    color: white;
	cursor: progress;
}

table a:hover {
    color: rgb(93, 93, 255);
}

.extlink {
	font-size: x-small;
}

tr:hover {
	background-color: #1e2124;
}

table tr:nth-child(1):hover {
	background-color:transparent;
}
table tr:nth-child(2):hover {
	background-color:transparent;
}

/**/
table #sort:hover {color: rgb(93, 93, 255);}
#sort {
	display: block;
	background-color: transparent;
	color: white;
	border: none;
	outline: none;
	text-align: left;
	cursor: progress;
	font-size: 17px;
	transition: all 0.3s ease;
}
.dark-mode #sort {
	color: black;
	border-right: none;
}
/**/

/* This is an HTML element added by the addition of the Bootstrap 5 CDN framework for the front end, go to the HTML page to revert. */
small {
	color: grey;
}

th, td {

	border: none;
	padding: 10px 7px 7px 10px;
}

td {
	padding-left: 15px;
}

th {
	padding: 16px;
	background-color:#232ea780;
	color:white;
	font-family: "Work Sans";
}

#ltheader {
	border-bottom-left-radius: 16px;
	border-top-left-radius: 16px;
}

#rtheader {
	border-bottom-right-radius: 16px;
	border-top-right-radius: 16px;
}

table {
	margin-left: 300px;
}

#tbhd {
	cursor: progress;
}

/* All below this comment is new references to new objects in the HTML file */
/* To revert, delete everything below */

.dropdown {
	width: 10%;
	float:right;
}

#listheader {
	margin-left: 5px;
	padding: 2px;
	font-size:medium;
}

#user_data {
	width: 90%;
}

/***/

#OldData[aria-expanded=true] .bi-caret-left {
	transition: .3s transform ease-in-out;
	transform: rotate(-90deg);
}

#months {
	padding-left: 60px;
}

#credits[aria-expanded=true] .bi-caret-left {
	transition: .3s transform ease-in-out;
	transform: rotate(-90deg);
}

#credit {
	padding-left: 60px;
}

.tab {
	float: left;
	width: 20%;
	transition: all 0.3s ease;
	background-color: #2C2F33;
	color: white;
}

.tab button {
	display: block;
	background-color: inherit;
	color: white;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: progress;
	font-size: 17px;
	transition: all 0.3s ease;
	padding-left: 35px;
}

.tab a {
	display: block;
	background-color: inherit;
	color: white;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: progress;
	font-size: 17px;
	transition: all 0.3s ease;
	padding-left: 35px;
}

.tab button:hover {
	background-color: #23272A;
	transition: all 0.3s ease;
}

.tab a:hover {
	background-color: #23272A;
	transition: all 0.3s ease;
}

.tab button.active {
	background-color: rgb(212, 212, 212);
	transition: all 0.3s ease;
}

.tabcontent {
	float: left;
	padding: 12px;
	width: 90%;
	height: 100%;
	transition: all 0.3s ease;
}

#help {
	margin-left: 300px;
	width:70%;
	margin-top:5px;
	float:left;
	margin-bottom:5px;
}

#git {
	margin-left: 300px;
	width:70%;
	margin-top:0px;
	float:left;
	margin-bottom:0px;
}

.panel {
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
}

#searchtable {
	margin-top: 5px;
	width: 96%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	margin-bottom: 12px;
	outline: none;
	border-bottom-right-radius: 16px;
	border-top-right-radius: 16px;
	border: 1px solid rgb(68, 68, 68);
	border-left: none;
	color: white;
	transition: all 0.5s ease;
	background-color: #23272A;
	cursor: progress;
}

#searchtable:focus {
	border: 1px solid #5865F2;
	border-left: none;
	outline: none;
	box-shadow: none;
}

#searchIcon {
	margin-top: 5px;
	padding: 14px 0px 0px 0px;
	height:50px;
	width:4%;
	background-color:#1e2124;
	border-bottom-left-radius: 16px;
	border-top-left-radius: 16px;
	transition: all 0.5s ease;
	border: 1px solid rgb(68, 68, 68);
	cursor: progress;
}

.dropdown-menu {
	background-color: #23272A;
	color: white;
}

.dropdown-menu a:hover {
	transition: all 0.3s ease;
}

#listheader {
	padding-left: 15px;
	padding-top: 15px;
}

#dropdownbtn {
	background-color: transparent;
	border: none;
	height: 100%;
	margin-left:10%;
}

#navigation {
	top:0;
	margin:0;
	position:sticky;
	display:none
}

#closebtn {
	display:none;
}

#titleteal {
	/* background-image: linear-gradient(to bottom right, rgb(160, 68, 235), rgb(153, 115, 1)); */
	background-image: linear-gradient(to bottom right, rgb(75, 48, 97), rgb(92, 81, 50));
	display: flex;
	padding:20px;
}

#dropdownandtitle {
	display: flex;
	flex: 1;
}

#openNav {
	background-color: transparent;
	border: none;
	padding: 5px;
}

#openNav:hover {
	background-color: #272a2e80;
}

#closeBtn {
	text-align:center;
	border:none;
	border-bottom:1px solid gray;
	padding: 5px;
}

#backToTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgb(214, 119, 119);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
#backToTop:hover {
	background-color: #555;
}

@media screen and (max-width: 991px) {
	body {
		margin: 0;
	}
	h2, h3, h4, h5, h6 {
		font-size: 3.5vw;
	}
	h1 {
		top: 20%;
	}
	.tab {
		display:none;
		font-size: 2.5vw;
		width:25%;
		height: 100%;
	}
	.tabcontent {
		margin-left: 10px;
		margin-right: 10px;
		font-size: 2.5vw;
		width: 80%;
	}
	#sort {
		margin-left: 10px;
		margin-right: 10px;
		font-size: 2.5vw;
		width: 80%;
	}
	#alltabcontent {
		width: 80%;
	}
	#closebtn {
		display:block;
		background-color: rgba(121, 32, 32, 0.5);
	}
	#closebtn:hover {
		background-color: rgba(78, 20, 20, 0.5);
	}
	#titleteal {
		padding-bottom: 5px;
		padding: 10px;
	}
	table {
		margin-left: 0;
	}
	#ltheader {
		margin-left: 10px;
	}
	#rtheader {
		margin-right: 10px;
	}
	#infodropdown {
		display: none;
	}
	#out {
		display: none;
	}
	#searchIcon {
		width:20%
	}
	#searchtable {
		width:80%
	}
	#NoResults {
		font-size: 3.5vw;
		margin-left: 0;
	}
	#help {
		float: left;
		margin-left: 5px;
	}
	#git {
		float: left;
		margin-left: 5px;
	}
}

#longTitle {
	display: inline;
 }

#shortTitle {
	display: none;
}

@media screen and (max-width: 555px) {
	#longTitle {
		display:none;
	}
	#shortTitle {
		display:inline;
	}
	.tabcontent {
		margin-left: 0px;
		width:70%;
	}
	th {
		padding-left:5px;
		padding-right:5px;
		width: 10%;
	}
	td {
		padding-left:5px;
		padding-right:0px;
		width:10%;
	}
	#user_data {
		width:60%;
	}
}

@media screen and (max-width: 1250px) {
	.tab {
		width:25%;
	}
	#searchIcon {
		width:10%
	}
	#searchtable {
		width:90%
	}
}

/*@media screen and (min-width: 991px) {
	.tab {
		display:none;
		width: 25%;
		height: 100%;
	}
	.tabcontent {
		margin-left:200px;
	}
	#titleteal {
		padding: 15px;
	}
}*/

/********************/
.load {
	cursor: default;
}
.load .main {
	cursor: default;
}
.load table a {
	cursor: pointer;
}
.load #sort {
	cursor: pointer;
}
.load #tbhd {
	cursor: pointer;
}
.load .tab button {
	cursor: pointer;
}
.load .tab a {
	cursor: pointer;
}
.load #backtotop {
	cursor: pointer;
}
.load #searchtable {
	cursor: text;
}
.load #searchIcon {
	cursor: pointer;
}
.load .tabcontent {
	cursor: default;
}

/********************/
.dark-mode {
	background-color: white;
	color: black;
	transition: all 0.3s ease;
}

.dark-mode .dropdown-menu {
	background-color: white;
	color: black;
}

.dark-mode .dropdown-menu a {
	color: black;
}

.dark-mode .dropdown-menu a:hover {
	background-color: #ccc;
	transition: all 0.3s ease;
}

.dark-mode .tab {
	background-color: #f1f1f1;
	color: black;
	border-right: none;
}

.dark-mode .tab button {
	color: black;
}

.dark-mode .tab button:hover {
	background-color: #ddd;
	color: black;
}

.dark-mode .tab a {
	color: black;
}

.dark-mode .tab a:hover {
	background-color: #ddd;
	color: black;
}

.dark-mode .tab button.active {
	background-color: #ccc;
	color: black;
}

.dark-mode th {
	color: black;
}

.dark-mode tr:hover {
	background-color: #d6e0ee;
}

.dark-mode td {
	color: black;
}

.dark-mode small {
	color: rgba(255, 255, 255, 0.5);
}

.dark-mode .panel {
	background-color: transparent;
	color: black;
}

.dark-mode #dropdownbtn {
	/*background-image: linear-gradient(to bottom right, #1e3e64, #092846);*/
	background-color: transparent;
}

.dark-mode #titleteal {
	background-image: linear-gradient(to bottom right, rgb(181, 106, 242), rgb(255, 190, 0));
	color: black;
}

.dark-mode #searchtable {
	background-color: transparent;
	border: 1px solid rgb(192, 192, 192);
	color: black;
	border-left: none;
	transition: all 0.5s ease;
}

.dark-mode #searchtable:focus {
	border: 1px solid #5865F2;
	border-left: none;
}

.dark-mode #searchIcon {
	background-color: #ccc;
	border: 1px solid rgb(68, 68, 68);
	border-right: none;
	color: black;
	transition: all 0.5s ease;
}

.dark-mode a {
	color: #0000EE;
}

.dark-mode table a {
    text-decoration: none;
    color: black;
}

.dark-mode table a:hover {
    color: #0000EE;
}
